/*
.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.product {
    width: 340px;
    margin: 10px;
}

.product__image {
    width: 340px;
    height: 340px;
}
*/
